* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html { 

    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;   
}

body {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

:root{
    --card-radius : 1.5rem;
    --color-icon :#e0e0e06f;
    --color-button : #d9d9d9;
    --color-back-button : white;
    --color-placeholder : #d9d9dd;
    --color-text-primary : #4b4b4b;
    --color-danger : #f24949;
    --primary : #315093;
    --color-text-secondary: #9e9e9e;

}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 5rem 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    font-size: 3rem;
    color: var(--primary);
}

.budgets {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

/*Budgets*/

.budget__card {
    padding: 1rem;
    border-radius: var(--card-radius);
    background-color: #0f379ba8;
    color: white;
    cursor: pointer;
    width: 100%;
}

.budget__name {
    font-size: 1.25rem;
}

.budget__amount {
    font-size: 2rem;
    font-weight: 800;
}

.add__budget__btn {
    height: 6rem;
    border-radius: 1.5rem;
    background-color: transparent;
    font-size: 3rem;
    font-weight: bold;
    border: 2px dashed var(--color-placeholder);
    color: var(--color-placeholder);
}
/*Budgets Detail*/

#budget__details {
    gap: 1rem;
}

#budget__details .budget__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#budget__details .Icon{
    padding: 1rem;
    border: 1px solid var(--color-icon);
    border-radius: 50%;
    color: var(--color-icon);
    aspect-ratio: 1/1;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#budget__details i{
    font-size: 2rem;
}

.back__home{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: var(--color-back-button);
    border-color: 1px solid var(--color-placeholder);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: translateY(-2rem);
    color: var(--color-text-primary) ;
}

#budget__details .back__home .icon__back {
    font-size: 1rem;
}

.add__spent__btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: var(--card-radius);
    border: 2px dashed var(--color-placeholder);
    background-color: transparent;
    color: var(--color-placeholder);

}

.add__spent__btn span {
    font-size: 2rem;
    font-weight: bold;
}

.sort__spent{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.sort__spent i {
    font-size: 1rem !important;
}

.sort__spent select{
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--color-placeholder);
    appearance: none;
    border-radius: 0.5rem;
}

.spent{
    width: 100%;
}

.spent__item {
    padding: 1rem;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-placeholder);
    color: var(--color-text-primary);
}

.spent__item h4 {
    font-size: 1.25rem;
}

.spent__item__price {
    font-size: 1.75rem;
    font-weight: bold;
}

/*Modal*/
.modal {
    background-color: rgba(0, 0, 0, 0.377);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

}


@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0) ;
    }
    
}

.modal .card {
    background-color: rgb(255, 255, 255);
    width: 80%;
    max-width: 40rem;
    padding: 1rem;
    border-radius: var(--card-radius);
    animation: slideup 0.5s ease-in-out;
}

.modal__card__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--primary) ;
    margin-bottom: 1rem;
}

.modal__card__heading i {
    font-size: 1.5rem;
    color: var(--color-danger);
    cursor: pointer;
}

.modal form label {
    display: block;
    color: var(--color-text-secondary) ;
    margin-bottom: 1rem;
}

.modal form input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color-placeholder);
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}

.modal form .input__money {
    color:var(--color-text-secondary);
    position: relative;
}

.modal form .input__money span {
    font-size: 1.5rem;
    transform:  translateY(50%);
    left: 1rem;
    position: absolute;
}

.modal form .input__money input {
    padding-left: 4rem;
}

.modal form button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    float : right;
    border-radius: 10px;
    background-color: var(--primary);
    border: none;
    color: white;
}
/* notifikasi */

.notification__wraper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.notification {
    background-color: rgba(255, 255, 255, 0.726);
    backdrop-filter: blur (10px);
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .75rem 1rem;
    border: 1px solid var(--color-text-secondary) ;
    border-radius: 12px;
    animation: slidedown .5s ease-in-out ;
}

.notification.out {
    animation: fadeout .5s ease-in-out forwards;
}

/* animasi keluar masuk popup*/
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}
/*Responsive*/

@media(max-width: 768px){
    .budgets {
        padding: 1rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}